apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.containerPort }}
  strategy:
    {{- if eq .Values.rollout.strategy "canary" }}
    canary:
      stableService: {{ .Chart.Name }}-stable
      steps:
        {{- range .Values.rollout.steps }}
        - {{ toYaml . | nindent 8 }}
        {{- end }}
    {{- else }}
    blueGreen:
      activeService: {{ .Chart.Name }}-active
      previewService: {{ .Chart.Name }}-preview
      autoPromotionEnabled: true
    {{- end }}
