apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.containerPort }}
  strategy:
    {{- if eq .Values.rollout.strategy "canary" }}
    canary:
      stableService: {{ default (printf "%s-stable" .Chart.Name) .Values.rollout.stableService }}
      canaryService: {{ default (printf "%s-canary" .Chart.Name) .Values.rollout.canaryService }}
      steps:
        {{- range .Values.rollout.steps }}
        - {{- if hasKey . "setWeight" }}
            setWeight: {{ .setWeight }}
          {{- else if hasKey . "pause" }}
            pause:
              duration: {{ .pause.duration }}
          {{- end }}
        {{- end }}
    {{- end }}
